.inline {
  display: inline-block;
}
.flex {
    display: flex;
}
.flex-center-vert {
    align-items: center;
}
.ui-panel-filtro2 {
    margin: 1vh 0 0;
    background: #ebeef0 !important;
}
.ui-panel-filtro2 .ui-panel-titlebar {    
    max-height: 65px;
    height: 45px;
}
.ui-panel-filtro2 > .ui-panel-titlebar {
    align-items: center;
    background: #CFD8DF;
    display: flex;
}
.ui-panel-filtro2 .ui-panel-title {
    display: inline-block;
    width: 96.3%;
}
.ui-panel-manterGrid {
  border: 0;
}
.ui-datatable {
	border: 1px solid #9aa9b1;
 	border-radius: 5px;
}
.ui-datatable .ui-datatable-header.ui-widget-header {
	background: #ced8df;
 	color: #2b4858;
 	font-size: 1.05rem;
 	border-bottom: 1px solid #9aa9b1;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
.ui-datatable-tablewrapper .ui-state-default, .ui-datatable-scrollable-header .ui-state-default {
	background: #e1e6ea;
 	border-color: #ced8de;
}
.ui-paginator-bottom.ui-widget-header {
	background: #e1e6ea;
 	border: none;
}
.ui-state-default > .ui-column-title {
	font-weight: normal;
 	color: #003a5b;
}
.filtro-generico {
    margin-left: 0.5%;
    width: 92%;
}
.btns-crud {
 	margin: 10px 0 20px;
}
.btns-container {
	text-align: center;
 	margin: 20px 0 20px;
}
.btns-crud > .ui-button, .btns-container > .ui-button {
    margin: 0 0.75vw;
}

.btns-filtro-content {
    text-align: center;
}
.btns-filtro-content > .ui-button {
    margin: 0 0.75vw;
}
.crud-tab.ui-tabs {
	border:none;
	padding:0;
}
.crud-tab.ui-tabs .ui-tabs-nav{
	background: transparent;
	border-bottom: 1px solid rgb(204, 204, 204)
}

.ui-total-records {
  text-align: right;
  color: #2b4858;
  font-size: 0.72em;
  font-weight: bold;
}

.crud-icon {
	border-radius: 5px;
}

.filter {
    width: 100%;
    height: auto;
    display: inline-block;
}

.filter-area {
	padding-left: 60px;
	padding-right: 450px;
}

.filter-area-column {
	float: left;
	position: relative;
}

.filter-area-left {
	width: 60px;
	margin-left: -100%; 
	right: 60px;
}

.filter-area-center {
	width: 100%;
}

.filter-area-right {
	width: 450px;
	margin-right: -450px;
	text-align: right;
}

.text-mg-icon {
    background: white url(../image/mg_20x20.png) right no-repeat !important;
    padding-right: 21px;
    width: 400px;
}

.ui-inputfield.ui-inputtext[readonly],
.ui-inputfield.ui-inputmask[readonly] {
  opacity: 1;
  background: #ebeaea;
}
.ui-inputfield.ui-inputtext.ui-state-focus[readonly],
.ui-inputfield.ui-inputmask.ui-state-focus[readonly] {
  box-shadow: none;
  border-color: #ccc;
}